<!doctype html5>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/main.css"/>
    <script data-main="/assets/main.js" src="/assets/loader.js" type="text/javascript"></script>
  </head>
  <body>
    {{> header}}
    {{> yield}}
    {{> footer}}
  </body>
</html>