<main>
<div class="container">
  <div class="jumbotron mm-jumbotron">
    <h1>This is {{AppName}}!</h1>
    <p>MacrosMine is all my idear.</p>
    <p>MacrosMine is all my works.</p>
  </div>
</div>
</main>
